---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/activityTypes
        method: GET
      response:
        body: '[{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":2,"typeKey":"cycling","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":4,"typeKey":"other","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":5,"typeKey":"mountain_biking","parentTypeId":2,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":6,"typeKey":"trail_running","parentTypeId":1,"isHidden":false,"r[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "5"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=5
        method: GET
      response:
        body: '[{"activityId":23601622207,"activityName":"Anonymous Activity","startTimeLocal":"2026-07-14 18:38:43","startTimeGMT":"2026-07-15 01:38:43","activityType":{"typeId":174,"typeKey":"bouldering","parentTypeId":29,"isHidden":false,"restricted":false,"trimmable":false},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"duration":1008.9329833984375,"elapsedDuration":1008.9329833984375,"movingDuration":0.0,"hasPolyline":false,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"anonymous","ownerFullName":"Anonymous User","ownerProfileImageUrlSmall":"https://example.com/profile.png","ownerProfileImageUrlMedium":"https://example.com/profile.png","ownerProfileImageUrlLarge":"https://example.com/profile.png","calories":170.0,"bmrCalories":25.0,"averageHR":122.0,"maxHR":143.0,"steps":184,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GHS_USER","ROLE_TACX_APP_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":1,"typeKey":"public"},"userPro":false,"hasVideo":false,"timeZoneId":121,"beginTimestamp":1784079523000,"sportTypeId":31,"aerobicTrainingEffect":1.7999999523162842,"anaerobicTrainingEffect":1.7000000476837158,"deviceId":12345678,"summarizedDiveInfo":{"summarizedDiveGases":[]},"manufacturer":"GARMIN","lapCount":1,"waterEstimated":221.0,"trainingEffectLabel":"RECOVERY","activityTrainingLoad":40.14886474609375,"minActivityLapDuration":1008.9329833984375,"aerobicTrainingEffectMessage":"RECOVERY_5","anaerobicTrainingEffectMessage":"MINOR_ANAEROBIC_BENEFIT_15","splitSummaries":[{"noOfSplits":12,"maxGradeValue":{"sortOrder":5,"valueKey":"V4","scale":"VERMIN"},"duration":381.02899169921875,"splitType":"CLIMB_ACTIVE","numClimbSends":0,"numFalls":0},{"noOfSplits":12,"duration":627.5960083007812,"splitType":"CLIMB_REST","numClimbSends":0,"numFalls":0}],"hasSplits":true,"hasIntensityIntervals":false,"moderateIntensityMinutes":3,"vigorousIntensityMinutes":13,"differenceBodyBattery":-3,"hasHeatMap":false,"hrTimeInZone_1":121.489,"hrTimeInZone_2":608.446,"hrTimeInZone_3":278.998,"hrTimeInZone_4":0.0,"hrTimeInZone_5":0.0,"endTimeGMT":"2026-07-15 01:55:31","qualifyingDive":false,"activityUUID":"00000000-0000-0000-0000-000000000000","autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"manualActivity":false,"favorite":false,"decoDive":false,"pr":false,"parent":false},{"activityId":23601542124,"activityName":"Anonymous Activity","startTimeLocal":"2026-07-14 18:13:29","startTimeGMT":"2026-07-15 01:13:29","activityType":{"typeId":13,"typeKey":"strength_training","parentTypeId":29,"isHidden":false,"restricted":false,"trimmable":false},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":0.0,"duration":1492.1090087890625,"elapsedDuration":1492.1090087890625,"movingDuration":1441.6240234375,"averageSpeed":0.0,"hasPolyline":false,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"anonymous","ownerFullName":"Anonymous User","ownerProfileImageUrlSmall":"https://example.com/profile.png","ownerProfileImageUrlMedium":"https://example.com/profile.png","ownerProfileImageUrlLarge":"https://example.com/profile.png","calories":297.0,"bmrCalories":36.0,"averageHR":136.0,"maxHR":165.0,"steps":680,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_US[...]
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207
        method: GET
      response:
        body: '{"activityId":23601622207,"activityUUID":{"uuid":"00000000-0000-0000-0000-000000000000"},"activityName":"Anonymous Activity","userProfileId":12345678,"isMultiSportParent":false,"activityTypeDTO":{"typeId":174,"typeKey":"bouldering","parentTypeId":29,"isHidden":false,"restricted":false,"trimmable":false},"eventTypeDTO":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"accessControlRuleDTO":{"typeId":1,"typeKey":"public"},"timeZoneUnitDTO":{"unitId":12345678,"unitKey":"America/Los_Angeles","factor":0.0,"timeZone":"America/Los_Angeles"},"metadataDTO":{"isOriginal":true,"deviceApplicationInstallationId":1008727,"agentApplicationInstallationId":null,"agentString":null,"fileFormat":{"formatId":7,"formatKey":"fit"},"associatedCourseId":null,"lastUpdateDate":"2026-07-15T01:55:44.0","uploadedDate":"2026-07-15T01:55:44.0","videoUrl":null,"hasPolyline":false,"hasChartData":true,"hasHrTimeInZones":true,"hasPowerTimeInZones":false,"userInfoDto":{"userProfilePk":12345678,"displayname":"anonymous","fullname":"Anonymous User","profileImageUrlLarge":"https://example.com/profile.png","profileImageUrlMedium":"https://example.com/profile.png","profileImageUrlSmall":"https://example.com/profile.png","userPro":false},"childIds":[],"childActivityTypes":[],"sensors":null,"activityImages":[],"manufacturer":"GARMIN","diveNumber":null,"lapCount":1,"associatedWorkoutId":null,"isAtpActivity":null,"deviceMetaDataDTO":{"deviceId":"3499843767","deviceTypePk":37074,"deviceVersionPk":1008727},"hasIntensityIntervals":false,"hasSplits":true,"eBikeMaxAssistModes":null,"eBikeBatteryUsage":null,"eBikeBatteryRemaining":null,"eBikeAssistModeInfoDTOList":null,"hasRunPowerWindData":null,"calendarEventInfo":null,"groupRideUUID":null,"hasHeatMap":false,"personalRecord":false,"gcj02":false,"runPowerWindDataEnabled":null,"autoCalcCalories":false,"favorite":false,"manualActivity":false,"elevationCorrected":false,"trimmed":false},"summaryDTO":{"startTimeLocal":"2026-07-14T18:38:43.0","startTimeGMT":"2026-07-15T01:38:43.0","duration":1008.933,"movingDuration":0.0,"elapsedDuration":1008.933,"calories":170.0,"bmrCalories":25.0,"averageHR":122.0,"maxHR":143.0,"minHR":94.0,"trainingEffect":1.7999999523162842,"anaerobicTrainingEffect":1.7000000476837158,"aerobicTrainingEffectMessage":"RECOVERY_5","anaerobicTrainingEffectMessage":"MINOR_ANAEROBIC_BENEFIT_15","waterEstimated":221.0,"trainingEffectLabel":"RECOVERY","activityTrainingLoad":40.14886474609375,"minActivityLapDuration":1008.933,"moderateIntensityMinutes":3,"vigorousIntensityMinutes":13,"steps":184,"differenceBodyBattery":-3},"splitSummaries":[{"duration":381.029,"movingDuration":0.0,"calories":57.0,"bmrCalories":9.0,"averageHR":116.0,"maxHR":137.0,"totalExerciseReps":0,"splitType":"CLIMB_ACTIVE","noOfSplits":12,"numClimbsCompleted":12,"maxGradeValue":{"sortOrder":5,"valueKey":"V4","scale":"VERMIN"}},{"duration":627.596,"movingDuration":0.0,"calories":113.0,"bmrCalories":15.0,"averageHR":125.0,"maxHR":143.0,"totalExerciseReps":0,"splitType":"CLIMB_REST","noOfSplits":12}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 83.1631ms
    - id: 3
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/splits
        method: GET
      response:
        body: '{"activityId":23601622207,"lapDTOs":[{"startTimeGMT":"2026-07-15T01:38:43.0","duration":1008.933,"movingDuration":0.0,"elapsedDuration":1008.933,"calories":170.0,"bmrCalories":25.0,"averageHR":122.0,"maxHR":143.0,"lapIndex":1,"lengthDTOs":[],"connectIQMeasurement":[],"intensityType":"ACTIVE","messageIndex":0}],"eventDTOs":[{"startTimeGMT":"2026-07-15T01:38:42.0","startTimeGMTDoubleValue":1.784079522E12,"sectionTypeDTO":{"id":12345678,"key":"timerTrigger","sectionTypeKey":"TIMER_TRIGGER"}},{"startTimeGMT":"2026-07-15T01:38:43.0","startTimeGMTDoubleValue":1.784079523E12,"sectionTypeDTO":{"id":12345678,"key":"timerTrigger","sectionTypeKey":"TIMER_TRIGGER"}},{"startTimeGMT":"2026-07-15T01:55:32.0","startTimeGMTDoubleValue":1.784080532E12,"sectionTypeDTO":{"id":12345678,"key":"timerTrigger","sectionTypeKey":"TIMER_TRIGGER"}}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 68.1419ms
    - id: 4
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/weather
        method: GET
      response:
        body: '{"issueDate":null,"temp":null,"apparentTemp":null,"dewPoint":null,"relativeHumidity":null,"windDirection":null,"windDirectionCompassPoint":null,"windSpeed":null,"windGust":null,"latitude":48.8566,"longitude":2.3522,"weatherStationDTO":null,"weatherTypeDTO":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 55.9453ms
    - id: 5
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/details
        method: GET
      response:
        body: '{"activityId":23601622207,"measurementCount":6,"metricsCount":246,"totalMetricsCount":728,"metricDescriptors":[{"metricsIndex":0,"key":"directHeartRate","unit":{"id":12345678,"key":"bpm","factor":1.0}},{"metricsIndex":1,"key":"sumDuration","unit":{"id":12345678,"key":"second","factor":1000.0}},{"metricsIndex":2,"key":"directTimestamp","unit":{"id":12345678,"key":"gmt","factor":0.0}},{"metricsIndex":3,"key":"directBodyBattery","unit":{"id":12345678,"key":"dimensionless","factor":1.0}},{"metricsIndex":4,"key":"sumElapsedDuration","unit":{"id":12345678,"key":"second","factor":1000.0}},{"metricsIndex":5,"key":"sumMovingDuration","unit":{"id":12345678,"key":"second","factor":1000.0}}],"activityDetailMetrics":[{"metrics":[100.0,0.0,1.784079523E12,40.0,0.0,0.0]},{"metrics":[101.0,3.0,1.784079526E12,40.0,3.0,0.0]},{"metrics":[99.0,6.0,1.784079529E12,40.0,6.0,0.0]},{"metrics":[99.0,9.0,1.784079532E12,40.0,9.0,0.0]},{"metrics":[98.0,12.0,1.784079535E12,40.0,12.0,0.0]},{"metrics":[99.0,15.0,1.784079538E12,40.0,15.0,0.0]},{"metrics":[99.0,18.0,1.784079541E12,40.0,18.0,0.0]},{"metrics":[100.0,21.0,1.784079544E12,40.0,21.0,0.0]},{"metrics":[100.0,24.0,1.784079547E12,40.0,24.0,0.0]},{"metrics":[99.0,27.0,1.78407955E12,40[...]
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/hrTimeInZones
        method: GET
      response:
        body: '[{"zoneNumber":1,"secsInZone":121.489,"zoneLowBoundary":93},{"zoneNumber":2,"secsInZone":608.446,"zoneLowBoundary":111},{"zoneNumber":3,"secsInZone":278.998,"zoneLowBoundary":130},{"zoneNumber":4,"secsInZone":0.0,"zoneLowBoundary":148},{"zoneNumber":5,"secsInZone":0.0,"zoneLowBoundary":167}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 55.5009ms
    - id: 7
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/powerTimeInZones
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 56.7818ms
    - id: 8
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/exerciseSets
        method: GET
      response:
        body: '{"activityId":23601622207,"exerciseSets":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 60.0013ms
    - id: 9
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/typedsplits
        method: GET
      response:
        body: '{"activityId":23601622207,"activityUUID":{"uuid":"00000000-0000-0000-0000-000000000000"},"splits":[{"startTimeLocal":"2026-07-14T18:38:43.0","startTimeGMT":"2026-07-15T01:38:43.0","duration":45.712,"movingDuration":0.0,"elapsedDuration":45.712,"calories":5.0,"bmrCalories":1.0,"averageHR":99.0,"maxHR":102.0,"totalExerciseReps":0,"type":"CLIMB_ACTIVE","messageIndex":0,"endTimeGMT":"2026-07-15T01:39:28.0","status":"CLIMB_COMPLETED","gradeValue":{"sortOrder":1,"valueKey":"V0","scale":"VERMIN"}},{"startTimeLocal":"2026-07-14T18:39:29.0","startTimeGMT":"2026-07-15T01:39:29.0","duration":43.134,"movingDuration":0.0,"elapsedDuration":43.134,"calories":6.0,"bmrCalories":1.0,"averageHR":110.0,"maxHR":127.0,"totalExerciseReps":0,"type":"CLIMB_REST","messageIndex":1,"endTimeGMT":"2026-07-15T01:40:11.0"},{"startTimeLocal":"2026-07-14T18:40:12.0","startTimeGMT":"2026-07-15T01:40:12.0","duration":33.818,"movingDuration":0.0,"elapsedDuration":33.81[...]
    - id: 10
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/activity-service/activity/23601622207/split_summaries
        method: GET
      response:
        body: '{"activityId":23601622207,"activityUUID":{"uuid":"00000000-0000-0000-0000-000000000000"},"splitSummaries":[{"duration":381.029,"movingDuration":0.0,"calories":57.0,"bmrCalories":9.0,"averageHR":116.0,"maxHR":137.0,"totalExerciseReps":0,"splitType":"CLIMB_ACTIVE","noOfSplits":12,"numClimbsCompleted":12,"maxGradeValue":{"sortOrder":5,"valueKey":"V4","scale":"VERMIN"}},{"duration":627.596,"movingDuration":0.0,"calories":113.0,"bmrCalories":15.0,"averageHR":125.0,"maxHR":143.0,"totalExerciseReps":0,"splitType":"CLIMB_REST","noOfSplits":12}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 58.5886ms
