---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/badge-service/badge/earned
        method: GET
      response:
        body: '[{"badgeId":2896,"badgeKey":"activity_global_wellness_day_2026","badgeName":"Global Wellness Day 2026","badgeUuid":"325D72127F044ACB8F36684F90D56F26","badgeCategoryId":1,"badgeDifficultyId":1,"badgePoints":1,"badgeTypeIds":[1,6],"badgeSeriesId":null,"badgeStartDate":"2026-06-13T00:00:00.0","badgeEndDate":"2026-06-13T23:59:59.0","userProfileId":12345678,"fullName":"Anonymous User","displayName":"anonymous","badgeEarnedDate":"2026-06-13T18:14:37.0","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":0.0,"badgeTargetValue":null,"badgeUnitId":null,"badgeAssocTypeId":1,"badgeAssocType":"activityId","badgeAssocDataId":"23239239577","badgeAssocDataName":null,"earnedByMe":true,"currentPlayerType":null,"userJoined":null,"badgeChallengeStatusId":null,"badgePromotionCodeTypeList":[null],"promotionCodeStatus":null,"createDate":"2026-06-13T21:14:47.500","relatedBadges":null},{"badgeId":2895,"badgeKey":"activity_world_environment_day_2026","badgeName":"World Environment Day 2026","badgeUuid":"C118FFD159C64D51A75253E8B6C4483A","badgeCategoryId":1,"badgeDifficultyId":1,"badgePoints":1,"badgeTypeIds":[1,6],"badgeSeriesId":null,"badgeStartDate":"2026-06-05T00:00:00.0","badgeEndDate":"2026-06-05T23:59:59.0","userProfileId":12345678,"fullName":"Anonymous User","displayName":"anonymous","badgeEarnedDate":"2026-06-06T00:16:13.0","badgeEarnedNumber":1,"premium":false,"b[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            showExclusiveBadge:
                - "true"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X[...]
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "20"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/badgechallenge-service/badgeChallenge/completed?start=0&limit=20
        method: GET
      response:
        body: '{"message":"start should > 0.","error":"BadRequestException"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 60.9095ms
    - id: 3
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "20"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/badgechallenge-service/badgeChallenge/available?start=0&limit=20
        method: GET
      response:
        body: '{"message":"start should > 0.","error":"BadRequestException"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 58.9987ms
    - id: 4
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "20"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/badgechallenge-service/badgeChallenge/non-completed?start=0&limit=20
        method: GET
      response:
        body: '{"message":"start should > 0.","error":"BadRequestException"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 59.6608ms
    - id: 5
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "20"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/badgechallenge-service/virtualChallenge/inProgress?start=0&limit=20
        method: GET
      response:
        body: '{"message":"start should > 0.","error":"BadRequestException"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 132.8443ms
    - id: 6
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "20"
            start:
                - "0"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/adhocchallenge-service/adHocChallenge/historical?start=0&limit=20
        method: GET
      response:
        body: '[{"socialChallengeStatusId":4,"socialChallengeActivityTypeId":1,"adHocChallengeName":"Running Challenge","adHocChallengeDesc":"Running Challenge","ownerUserProfileId":74419365,"uuid":"86784AA567AF4319A48E90688F5A5D92","startDate":"2026-02-01T00:00:00.0","endDate":"2026-02-28T23:59:59.0","durationTypeId":1,"userRanking":1,"playerCount":3,"inviteeCount":null,"players":[],"user":null,"alternateChallengeAwards":null,"socialChallengeType":2,"isChallengeCommentDisabled":true},{"socialChallengeStatusId":4,"socialChallengeActivityTypeId":4,"adHocChallengeName":"Steps Challenge","adHocChallengeDesc":"Steps Challenge","ownerUserProfileId":108750673,"uuid":"4CAA5BB14DB84AB5A46E5F5F843BFB25","startDate":"2026-01-01T00:00:00.0","endDate":"2026-01-31T23:59:59.0","durationTypeId":1,"userRanking":2,"playerCount":2,"inviteeCount":null,"players":[],"user":null,"alternateChallengeAwards":null,"socialChallengeType":2,"isChallengeCommentDisabled":true}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 64.6221ms
