---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/biometric/latestLactateThreshold
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"version":1782343185960,"calendarDate":"2026-06-24T16:19:45.837","sequence":1782343185960,"speed":0.32499909,"hearRate":null,"heartRateCycling":null,"rowSpeed":null,"heartRateRowing":null},{"userProfilePK":12345678,"version":1782343185960,"calendarDate":"2026-06-24T16:19:45.837","sequence":1782343185960,"speed":null,"hearRate":163,"heartRateCycling":null,"rowSpeed":null,"heartRateRowing":null},{"userProfilePK":12345678,"version":1775524071381,"calendarDate":"2026-04-06T18:07:51.347","sequence":1775524071381,"speed":null,"hearRate":null,"heartRateCycling":162,"rowSpeed":null,"heartRateRowing":null}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.5901ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/biometric/latestFunctionalThresholdPower/CYCLING
        method: GET
      response:
        body: '{"userProfilePK":12345678,"version":1776273639041,"calendarDate":"2026-04-15T10:20:39.41","isStale":false,"sequence":1776273639041,"sport":"CYCLING","functionalThresholdPower":216,"biometricSourceType":"CHANGE_LOG"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.5656ms
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            sport:
                - Running
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/biometric/powerToWeight/latest/2026-07-15?sport=Running
        method: GET
      response:
        body: '[{"userProfilePk":12345678,"calendarDate":"2026-07-15T09:34:14.0","origin":"weight","sport":"RUNNING","functionalThresholdPower":388,"weight":84.51,"powerToWeight":4.591172642290853,"ftpCreateTime":"2026-06-24T16:18:07.0","weightCreateTime":"2026-07-15T09:34:14.0","isStale":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.7984ms
    - id: 3
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            aggregationStrategy:
                - LATEST
            sport:
                - RUNNING
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/stats/lactateThresholdSpeed/range/2026-06-15/2026-07-15?sport=RUNNING&aggregation=daily&aggregationStrategy=LATEST
        method: GET
      response:
        body: '[{"from":"2026-06-24","until":"2026-06-24","series":"running","value":0.32499909,"updatedDate":"2026-06-24"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.9666ms
    - id: 4
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            aggregationStrategy:
                - LATEST
            sport:
                - RUNNING
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/stats/lactateThresholdHeartRate/range/2026-06-15/2026-07-15?sport=RUNNING&aggregation=daily&aggregationStrategy=LATEST
        method: GET
      response:
        body: '[{"from":"2026-06-24","until":"2026-06-24","series":"running","value":163.0,"updatedDate":"2026-06-24"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.0387ms
    - id: 5
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            aggregationStrategy:
                - LATEST
            sport:
                - RUNNING
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/stats/functionalThresholdPower/range/2026-06-15/2026-07-15?sport=RUNNING&aggregation=daily&aggregationStrategy=LATEST
        method: G[...]
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/biometric-service/heartRateZones/
        method: GET
      response:
        body: '[{"trainingMethod":"HR_MAX","restingHeartRateUsed":null,"lactateThresholdHeartRateUsed":163,"zone1Floor":93,"zone2Floor":111,"zone3Floor":130,"zone4Floor":148,"zone5Floor":167,"maxHeartRateUsed":185,"restingHrAutoUpdateUsed":false,"sport":"DEFAULT","changeState":"UNCHANGED"},{"trainingMethod":"HR_MAX","restingHeartRateUsed":0,"lactateThresholdHeartRateUsed":162,"zone1Floor":93,"zone2Floor":111,"zone3Floor":130,"zone4Floor":148,"zone5Floor":167,"maxHeartRateUsed":185,"restingHrAutoUpdateUsed":false,"sport":"CYCLING","changeState":"UNCHANGED"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.2944ms
