---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            includeAll:
                - "true"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/bloodpressure-service/bloodpressure/range/2026-06-15/2026-07-15?includeAll=true
        method: GET
      response:
        body: '{"from":"2026-06-15","until":"2026-07-15","measurementSummaries":[],"categoryStats":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.7887ms
