---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/calendar-service/year/2026/month/6/day/15/start/1
        method: GET
      response:
        body: '{"startDate":"2026-07-13","endDate":"2026-07-19","numOfDaysInMonth":31,"calendarItems":[{"id":12345678,"groupId":null,"trainingPlanId":null,"itemType":"weight","activityTypeId":null,"wellnessActivityUuid":null,"title":null,"date":"2026-07-15","duration":null,"distance":null,"calories":null,"floorsClimbed":null,"avgRespirationRate":null,"unitOfPoolLength":null,"weight":84510.0,"difference":816.0,"courseId":null,"courseName":null,"sportTypeKey":null,"url":null,"isStart":null,"isRace":null,"recurrenceId":null,"isParent":null,"parentId":null,"userBadgeId":null,"badgeCategoryTypeId":null,"badgeCategoryTypeDesc":null,"badgeAwardedDate":null,"badgeViewed":null,"hideBadge":null,"startTimestampLocal":null,"eventTimeLocal":null,"diveNumber":null,"maxDepth":null,"avgDepth":null,"surfaceInterval":null,"elapsedDuration":null,"lapCount":null,"bottomTime":null,"atpPlanId":null,"workoutId":null,"protectedWorkoutSchedule":false,"activeSets":null,"strokes":null,"noOfSplits":null,"maxGradeValue":null,"totalAscent":null,"differenceStress":null,"climbDuration":null,"maxSpeed":null,"averageHR":null,"activeSplitSummaryDuration":null,"activeSplitSummaryDistance":null,"maxSplitDistance":null,"maxDistanceWithPrecision":null,"maxSplitSpeed":null,"location":null,"shareableEventUuid":null,"splitSummaryMode":null,"completionTarget":null,"workoutUuid":null,"napStartTimeLocal":null,"beginPackWeight":null,"hasSplits":null,"maxPackWeight":null,"phasedTrainingPlan":null,"autoCalcCalories":null,"decoDive":null,"shareableEvent":false,"primaryEvent":null,"subscribed":null},{"id":12345678,"groupId":null,"trainingPlanId":null,"itemType":"weight","activityTypeId":null,"wellnessActivityUuid":null,"title":null,"date":"2026-07-13","duration":null,"distance":null,"calories":null,"floorsClimbed":null,"avgRespirationRate":null,"unitOfPoolLength":null,"weight":83680.0,"difference":-907.0,"courseId":null,"courseName":null,"sportTypeKey":null,"url":null,"isStart":null,"isRace":null,"recurrenceId":null,"isParent":null,"parentId":null,"userBadgeId":null,"badgeCategoryType[...]
