---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/web-gateway/course/owner
        method: GET
      response:
        body: '{"coursesForUser":[{"courseId":87654321,"userProfileId":12345678,"displayName":"anonymous","userGroupId":null,"geoRoutePk":null,"activityType":{"typeId":10,"typeKey":"road_biking","parentTypeId":2,"isHidden":false,"restricted":false,"trimmable":false},"courseName":"Anonymous Course","courseDescription":null,"createdDate":1783027886000,"updatedDate":1783027886000,"privacyRule":{"typeId":2,"typeKey":"private"},"distanceInMeters":26318.87,"elevationGainInMeters":280.62,"elevationLossInMeters":280.62,"startLatitude":48.8566,"startLongitude":2.3522,"speedInMetersPerSecond":0.0,"sourceTypeId":3,"sourcePk":null,"elapsedSeconds":null,"coordinateSystem":"WGS84","originalCoordinateSystem":"WGS84","consumer":"00000000-0000-0000-0000-000000000000","elevationSource":1,"hasShareableEvent":false,"hasPaceBand":false,"hasPowerGuide":false,"favorite":false,"hasTurnDetectionDisabled":false,"curatedCourseId":null,"startNote":null,"finishNote":null,"cutoffDuration":null,"activityTypeId":{"typeId":10,"typeKey":"road_biking","parentTypeId":2,"isHidden":false,"restricted":false,"trimmable":false},"public":false,"createdDateFormatted":"2026-07-02 21:31:26.0 GMT","updatedDateFormatted":"2026-07-02 21:31:26.0 GMT","applicationName":"Strava","companyName":"Strava","companyWebsite":"http://www.strava.com/","imageURL":"https://developers.strava.com/images/strava_logo_garmin_api.png"},{"courseId":87654321,"userProfileId":12345678,"displayName":"anonymous","userGroupId":null,"geoRoutePk":null,"activityType":{"typeId":10,"typeKey":"road_biking","parentTypeId":2,"isHidden":false,"restricted":false,"trimmable":false},"courseName":"Anonymous Course","courseDescription":null,"createdDate":1783027342000,"updatedDate":1783027342000,"privacyRule":{"typeId":2,"typeKey":"private"},"distanceInMeters":33627.23,"elevationGa[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/course-service/course/87654321
        method: GET
      response:
        body: '{"courseId":87654321,"courseName":"Anonymous Course","description":"","openStreetMap":false,"matchedToSegments":false,"userProfilePk":12345678,"userGroupPk":null,"rulePK":2,"firstName":"Anonymous","lastName":"User","displayName":"anonymous","geoRoutePk":null,"sourceTypeId":3,"sourcePk":null,"distanceMeter":26318.87,"elevationGainMeter":280.62,"elevationLossMeter":280.62,"startPoint":{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":0.0,"timestamp":1783027886000},"coursePoints":[{"coursePointId":11111111,"name":"6101 14th Avenu","coursePk":87654321,"coursePointType":"GENERIC","lon":2.3522,"lat":48.8566,"distance":0.0,"elevation":100.0,"derivedElevation":100.0,"timestamp":0,"createdDate":"2026-07-02T00:00:00.0","modifiedDate":"2026-07-02T00:00:00.0","uuid":null,"note":null,"cutoffDuration":null,"restDuration":null}],"boundingBox":{"center":null,"lowerLeft":{"latitude":48.8566,"longitude":2.3522},"upperRight":{"latitude":48.8566,"longitude":2.3522},"lowerLeftLatIsSet":true,"lowerLeftLongIsSet":true,"upperRightLatIsSet":true,"upperRightLongIsSet":true},"hasShareableEvent":false,"hasTurnDetectionDisabled":false,"activityTypePk":10,"virtualPartnerId":87654321,"includeLaps":false,"elapsedSeconds":null,"speedMeterPerSecond":null,"createDate":"2026-07-02T21:31:26.0","updateDate":"2026-07-02T21:31:26.0","courseLines":[],"coordinateSystem":"WGS84","targetCoordinateSystem":"WGS84","originalCoordinateSystem":"WGS84","consumer":"00000000-0000-0000-0000-000000000000","elevationSource":1,"hasPaceBand":false,"hasPowerGuide":false,"favorite":false,"startNote":null,"finishNote":null,"cutoffDuration":null,"geoPoints":[{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":0.0,"timestamp":1783027886000},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":8.2013043759329,"timestamp":1783027887180},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":16.402664201091632,"timestamp":1783027888360},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"distance":25.004738977852554,"timestamp":1783027889598},{"latitude":48.8566,"longitude":2.3522,"elevation":100.0,"dis[...]
