---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/device-service/deviceregistration/devices
        method: GET
      response:
        body: '[{"appSupport":true,"applicationKey":"fenix7ProSolar","deviceTypePk":37074,"bestInClassVideoLink":null,"bluetoothClassicDevice":false,"bluetoothLowEnergyDevice":true,"deviceCategories":["FITNESS","WELLNESS","GOLF","OUTDOOR"],"deviceEmbedVideoLink":null,"deviceSettingsFile":"anonymous-device-settings.json","gcmSettingsFile":null,"deviceVideoPageLink":null,"displayOrder":0,"golfDisplayOrder":0,"hasOpticalHeartRate":true,"highlighted":false,"hybrid":true,"imageUrl":"https://example.com/profile.png","minGCMAndroidVersion":7791,"minGCMWindowsVersion":99999,"minGCMiOSVersion":105591,"minGCMHarmonyVersion":0,"minGolfAppiOSVersion":0,"minGolfAppAndroidVersion":0,"partNumber":"006-B4375-00","primary":true,"productDisplayName":"fenix 7 Pro Solar","deviceTags":null,"productSku":"S10-02777-00","wasp":false,"weightScale":false,"wellness":false,"wifi":true,"hasPowerButton":true,"supportsSecondaryUsers":false,"primaryApplication":"GCM","incompatibleApplications":["DIVE","JUNIOR"],"deviceTypeSimpleName":"Garmin fenix 7 Pro","abnormalHeartRateAlertCapable":true,"activitySummFitFileCapable":true,"aerobicTrainingEffectCapable":true,"alarmDaysCapable":true,"allDayStressCapable":true,"anaerobicTrainingEffectCapable":true,"atpWorkoutCapable":true,"bodyBatteryCapable":true,"brickWorkoutCapable":true,"cardioCapable":true,"cardioOptionCapable":false,"cardioSportsCapable":false,"cardioWorkoutCapable":true,"cellularCapable":false,"changeLogCapable":true,"contactManagementCapable":true,"courseCapable":true,"courseFileType":"FIT","coursePromptCapable":false,"customIntensityMinutesCapable":true,"customWorkoutCapable":true,"cyclingSegmentCapable":true,"cyclingSportsCapable":false,"cyclingWorkoutCapable":true,"defaultSettingCapable":true,"deviceSettingCapable":true,"deviceSettingFileType":null,"displayFieldsExtCapable":false,"divingCapable":false,"ellipticalOptionCapable":false,"floorsClimbedGoalCapable":true,"ftpCapable":true,"gcj02CourseCapable":true,"glonassCapable":true,"goalCapable":true,"goalFileType":"FIT","golfAppSyncCapable":false,"gpsRouteCapable":true,"handednessCapable":true,"hrZoneCapable":true,"hrvStressCapable":true,"intensityMinutesGoalCapable":true,"lactateThresholdCapable":true,"languageSettingCapable":true,"languageSettingFileType":null,"lowHrAlertCapable":true,"maxHRCapable":true,"maxWorkoutCount":200,"metricsFitFileReceiveCapable":true,"metricsUploadCapable":true,"militaryTimeCapable":true,"moderateIntensityMinutesGoalCapable":true,"nfcCapable":true,"otherOptionCapable":false,"otherSportsCapable":false,"personalRecordCapable":true,"personalRecordFileType":"FIT","poolSwimOptionCapable":false,"powerCurveCapable":true,"powerZonesCapable":true,"pulseOxAllDayCapable":true,"pulseOxOnDemandCapable":true,"pulseOxSleepCapable":true,"remCapable":true,"reminderAlarmCapable":false,"reorderablePagesCapable":false,"restingHRCapable":true,"rideOptionsCapable":false,"runOptionIndoorCapable":false,"runOptionsCapable":false,"runningSegmentCapable":true,"runningSportsCapable":false,"runningWorkoutCapable":true,"scheduleCapable":true,"scheduleFileType":"FIT","segmentCapable":true,"segmentPointCapable":true,"settingCapable":true,"settingFileType":"FIT","sleepTimeCapable":true,"smallFitFileOnlyCapable":false,"sportCapable":true,"sportFileType":"FIT","stairStepperOptionCapable":false,"strengthOptionsCapable":false,"strengthWorkoutCapable":true,"supportedHrZones":["RUNNING","CYCLING","SWIMMING","ALL"],"swimWorkoutCapable":true,"trainingPlanCapable":true,"trainingStatusCapable":true,"trainingStatusPauseCapable":true,"userProfileCapable":false,"userProfileFileType":null,"userTcxExportCapable":false,"vo2MaxBikeCapable":true,"vo2MaxRunCapable":true,"walkOptionCapable":false,"walkingSportsCapable":false,"weatherAlertsCapable":false,"weatherSettingsCapable":false,"workoutCapable":true,"workoutFileType":"FIT","yogaCapable":true,"yogaOptionCapable":false,"heatAndAltitudeAcclimationCapable":true,"trainingLoadBalanceCapable":true,"indoorTrackOptionsCapable":false,"indoorBikeOptionsCapable":false,"indoorWalkOptionsCapable":false,"trainingEffectLabelCapable":true,"pacebandCapable":true,"respirationCapable":true,"openWaterSwimOptionCapable":false,"phoneVerificationCheckRequired":true,"weightGoalCapable":false,"yogaWorkoutCapable":true,"pilatesWorkoutCapable":true,"connectedGPSCapable":false,"diveAppSyncCapable":false,"golfLiveScoringCapable":true,"solarPanelUtilizationCapable":true,"sweatLossCapable":true,"diveAlertCapable":false,"requiresInitialDeviceNickname":false,"defaultSettingsHbaseMigrated":true,"sleepScoreCapable":true,"fitnessAgeV2Capable":true,"intensityMinutesV2Capable":true,"collapsibleControlMenuCapable":false,"measurementUnitSettingCapable":false,"onDeviceSleepCalculationCapable":true,"hiitWorkoutCapable":true,"runningHeartRateZoneCapable":true,"cyclingHeartRateZoneCapable":true,"swimmingHeartRateZoneCapable":true,"defaultHeartRateZoneCapable":true,"cyclingPowerZonesCapable":true,"xcSkiPowerZonesCapable":true,"swimAlgorithmCapable":true,"benchmarkExerciseCapable":true,"spectatorMessagingCapable":false,"ecgCapable":true,"lteLiveEventSharingCapable":false,"sleepFitFileReceiveCapable":true,"secondaryWorkoutStepTargetCapable":false,"assistancePlusCapable":false,"powerGuidanceCapable":true,"airIntegrationCapable":false,"healthSnapshotCapable":true,"racePredictionsRunCapable":true,"vivohubCompatible":false,"stepsTrueUpChartCapable":true,"sportingEventCapable":true,"solarChargeCapable":false,"realTimeSettingsCapable":true,"emergencyCallingCapable":false,"personalRepRecordCapable":false,"hrvStatusCapable":true,"trainingReadinessCapable":true,"publicBetaSoftwareCapable":true,"workoutAudioPromptsCapable":true,"actualStepRecordingCapable":true,"groupTrack2Capable":false,"golfAppPairingCapable":false,"localWindConditionsCapable":false,"multipleGolfCourseCapable":false,"beaconTrackingCapable":false,"batteryStatusCapable":false,"runningPowerZonesCapable":true,"acuteTrainingLoadCapable":true,"criticalSwimSpeedCapable":true,"primaryTrainingCapable":true,"dayOfWeekSleepWindowCapable":true,"golfCourseDownloadCapable":false,"launchMonitorEventSharingCapable":false,"lhaBackupCapable":true,"jetlagCapable":true,"bloodPressureCapable":false,"bbiRecordingCapable":true,"wheelchairCapable":false,"primaryActivityTrackerSettingCapable":true,"setBodyCompositionCapable":false,"acuteChronicWorkloadRatioCapable":true,"sleepNeedCapable":true,"wearableBackupRestoreCapable":true,"cyclingComputerBackupRestoreCapable":false,"descriptiveTrainingEffectCapable":false,"sleepSkinTemperatureCapable":true,"runningLactateThresholdCapable":true,"altitudeAcclimationPercentageCapable":true,"hillScoreAndEnduranceScoreCapable":true,"swimWorkout2Capable":false,"enhancedWorkoutStepCapable":true,"primaryTrainingBackupCapable":true,"hideSoftwareUpdateVersionCapable":false,"adaptiveCoachingScheduleCapable":true,"openWaterSwimWorkoutCapable":false,"multisportWorkoutCapable":false,"fullNameSettingsCapable":true,"bodyBatteryTrueUpCapable":true,"skipLastWorkoutStepInRepeatBlockCapable":true,"adaptiveCoachingStrengthCapable":false,"mobilityWorkoutCapable":false,"coursePlannerCapable":false,"trainableTriathlonEventCapable":false,"passcodeLockCapable":false,"strengthTrainingPlanCapable":false,"breathingDisruptionsCapable":true,"standaloneFirstbeatActivityProcessingCapable":false,"rts20Capable":false,"accessorySensorCanGenerateActivityCapable":false,"adaptiveCoachingWorkoutSettingsCapable":false,"lifestyleLoggingCapable":false,"topoactiveMapsRealTimeSettingCapable":false,"runningToleranceCapable":false,"rechargeableSensorCapable":false,"lapByCoursePointsCapable":false,"sleepAlignmentCapable":false,"runningEconomyCapable":false,"projectedRaceTimePredictionCapable":false,"cyclingAbilityCapable":false,"archeryXCapable":false,"registrationMetricsBackfillUnsupported":false,"healthStatusCapable":true,"adaptiveCoachingFitnessCapable":false,"vbtCapable":false,"healthStatusTrueUpCapable":false,"walkWorkoutCapable":false,"adaptiveCoachingNoviceCapable":false,"adaptiveCoachingWalkCapable":false,"rowingCapable":false,"gearTrackingCapable":false,"liveTrackCapable":true,"adaptiveCoachingStrengthReceiveCapable":false,"incidentDetectionCapable":true,"garminEpicsCapable":false,"syncActivityEditsCapable":false,"startActivityCapable":false,"pendingActivityCapable":false,"fixedLocationCapable":false,"inReachServicesCapable":false,"startStopWorkoutCapable":false,"fallDetectionCapable":false,"activityAutoDetectionCapable":false,"serverOnlyDSWRecalculationCapable":false,"screenlessDeviceCapable":false,"staminaCurveCapable":false,"ruckingWorkoutsCapable":false,"inReachServicesDirectActivationCapable":false,"dogTaggingCapable":false,"hybridTrainingRaceActivityCapable":false,"datasource":"C","deviceStatus":"active","registeredDate":1776271605000,"actualProductSku":"S10-02777-00","vivohubConfigurable":null,"prePairedWithHRM":false,"otherAssociation":false,"shortName":null,"displayName":"anonymous","serialNumber":"ABC123456","deviceId":12345678,"wifiSetup":false,"unitId":12345678,"currentFirmwareVersionMajor":26,"currentFirmwareVersionMinor":9,"activeInd":1,"currentFirmwareVersion":"26.09","isPrimaryUser":false,"primaryActivityTrackerIndicator":true,"unRetirable":false,"corporateDevice":false},{"appSupport":true,"applicationKey":"edge1040Solar","deviceTypePk":36864,"bestInClassVideoLink":null,"bluetoothClassicDevice":false,"bluetoothLowEnergyDevice":true,"deviceCategories":["FITNESS","DEDICATED_BIKE_COMPUTER"],"deviceEmbedVideoLink":null,"deviceSettingsFile":"anonymous-device-settings.json","gcmSettingsFile":null,"deviceVideoPageLink":null,"displayOrder":0,"golfDisplayOrder":0,"hasOpticalHeartRate":false,"highlighted":false,"hybrid":true,"imageUrl":"https://res.garmin.com/en/pr[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/device-service/deviceservice/device-info/settings/12345678
        method: GET
      response:
        body: '{"deviceId":12345678,"timeFormat":"time_twelve_hr","dateFormat":"date_month_day","measurementUnits":"statute_us","allUnits":"statute_us","visibleScreens":null,"enabledScreens":{},"screenLists":null,"isVivohubEnabled":null,"alarms":[],"supportedAlarmModes":null,"multipleAlarmEnabled":true,"maxAlarm":null,"activityTracking":{"activityTrackingEnabled":null,"moveAlertEnabled":true,"moveBarEnabled":null,"pulseOxSleepTrackingEnabled":null,"spo2Threshold":null,"lowSpo2AlertEnabled":null,"highHrAlertEnabled":null,"highHrAlertThreshold":null,"pulseOxAcclimationEnabled":null,"lowHrAlertEnabled":null,"lowHrAlertThreshold":null,"bloodEfficiencySleepTrackingEnabled":null,"bloodEfficiencyAcclimationEnabled":null},"keyTonesEnabled":null,"keyVibrationEnabled":null,"alertTonesEnabled":null,"userNoticeTonesEnabled":null,"glonassEnabled":null,"turnPromptEnabled":null,"segmentPromptEnabled":null,"supportedLanguages":[{"id":12345678,"name":"en"},{"id":12345678,"name":"fr"},{"id":12345678,"name":"it"},{"id":12345678,"name":"de"},{"id":12345678,"name":"es"},{"id":12345678,"name":"hr"},{"id":12345678,"name":"cs"},{"id":12345678,"name":"da"},{"id":12345678,"name":"nl"},{"id":12345678,"name":"fi"},{"id":12345678,"name":"el"},{"id":12345678,"name":"hu"},{"id":12345678,"name":"no"},{"id":12345678,"name":"pl"},{"id":12345678,"name":"sk"},{"id":12345678,"name":"sl"},{"id":12345678,"name":"sv"},{"id":12345678,"name":"ru"},{"id":12345678,"name":"tr"},{"id":12345678,"name":"lv"},{"id":12345678,"name":"uk"},{"id":12345678,"name":"ar"},{"id":12345678,"name":"bg"},{"id":12345678,"name":"ro"},{"id":12345678,"name":"zh_CN"},{"id":12345678,"name":"ja"},{"id":12345678,"name":"ko"},{"id":12345678,"name":"zh_TW"},{"id":12345678,"name":"th"},{"id":12345678,"name":"iw"},{"id":12345678,"name":"pt_BR"},{"id":12345678,"name":"id"},{"id":12345678,"name":"ms"},{"id":12345678,"name":"vi"},{"id":12345678,"name":"et"},{"id":12345678,"name":"lt"}],"language":0,"supportedAudioPromptDialects":["AR_AE","CS_CZ","DA_DK","DE_DE","EL_GR","EN_AU","EN_GB","EN_US","ES_ES","ES_MX","FI_FI","FR_CA","FR_FR","HE_IL","HR_HR","HU_HU","ID_ID","IT_IT","JA_JP","KO_KR","MS_MY","NL_NL","NO_NO","PL_PL","PT_BR","RO_RO","RU_RU","SK_SK","SV_SE","TH_TH","TR_TR","VI_VI","ZH_CN","ZH_TW"],"defaultPage":null,"displayOrientation":null,"mountingSide":null,"backlightMode":null,"backlightSetting":null,"customWheelSize":null,"gestureMode":null,"goalAnimation":null,"autoSyncStepsBeforeSync":2000,"autoSyncMinutesBeforeSync":240,"bandOrientation":null,"screenOrientation":null,"duringActivity":null,"phoneVibrationEnabled":null,"connectIQ":{"autoUpdate":true},"opticalHeartRateEnabled":null,"autoUploadEnabled":null,"bleConnectionAlertEnabled":null,"phoneNotificationMode":null,"lactateThresholdAutoDetectEnabled":null,"wiFiAutoUploadEnabled":null,"blueToothEnabled":null,"smartNotificationsStatus":null,"smartNotificationsSound":null,"dndEnabled":true,"distanceUnit":null,"paceSpeedUnit":null,"elevationUnit":null,"weightUnit":null,"heightUnit":null,"temperatureUnit":null,"runningFormat":null,"cyclingFormat":null,"hikingFormat":null,"strengthFormat":null,"cardioFormat":null,"xcSkiFormat":null,"otherFormat":null,"startOfWeek":"SUNDAY","dataRecording":null,"soundVibrationEnabled":null,"soundInAppOnlyEnabled":null,"backlightKeysAndAlertsEnabled":null,"backlightWristTurnEnabled":null,"backlightTimeout":null,"supportedBacklightTimeouts":null,"screenTimeout":null,"colorTheme":null,"autoActivityDetect":null,"sleep":null,"screenMode":null,"watchFace":null,"watchFaceItemList":null,"multipleSupportedWatchFace":{},"supportedScreenModes":null,"supportedWatchFaces":null,"supportedWatchFaceColors":null,"autoSyncFrequency":null,"supportedBacklightSettings":null,"supportedColorThemes":null,"disableLastEnabledScreen":null,"nickname":null,"avatar":null,"controlsMenuList":null,"customUserText":null,"metricsFileTrueupEnabled":true,"relaxRemindersEnabled":null,"smartNotificationTimeout":null,"intensityMinutesCalcMethod":"AUTO","moderateIntensityMinutesHrZone":3,"vigorousIntensityMinutesHrZone":4,"keepUserNamePrivate":null,"audioPromptLapEnabled":null,"audioPromptSpeedPaceEnabled":null,"audioPromptSpeedPaceType":null,"audioPromptSpeedPaceFrequency":null,"audioPromptSpeedPaceDuration":null,"audioPromptHeartRateEnabled":null,"audioPromptHeartRateType":null,"audioPromptHeartRateFrequency":null,"audioPromptHeartRateDuration":null,"audioPromptDialectType":null,"audioPromptActivityAlertsEnabled":null,"audioPromptPowerEnabled":null,"audioPromptPowerType":null,"audioPromptPowerFrequency":null,"audioPromptPowerDuration":null,"weightOnlyModeEnabled":null,"phoneNotificationPrivacyMode":null,"diveAlerts":null,"liveEventSharingEnabled":null,"liveTrackEnabled":null,"liveEventSharingEndTimestamp":null,"liveEventSharingMsgContents":null,"liveEventSharingTargetDistance":null,"liveEventSharingMsgTriggers":null,"liveEventSharingTriggerDistance":null,"liveEventSharingTriggerTime":null,"dbDrivenDefaults":true,"schoolMode":null,"customMeasurementDate":null,"customBodyFatPercent":null,"customMuscleMass":null,"customDeviceWeight":null,"customDeviceBodyFatPercent":null,"customDeviceMuscleMass":null,"latitude":null,"longitude":null,"autoActivityDetectEnabledV2":null,"favoriteActivitySportsSubsports":null,"vivohubEnabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.9621ms
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/device-service/devicemessage/messages
        method: GET
      response:
        body: '{"serviceHost":"http://connectapi.garmin.com/","numOfMessages":188,"messages":[{"messageId":189544061751,"messageType":"software-update","messageStatus":"new","deviceId":12345678,"deviceName":"Edge 1040 Solar","applicationKey":"edge1040Solar","firmwareVersion":"2820","wifiSetup":false,"deviceXmlDataType":null,"hidden":false,"createdTimeStamp":1781819308000,"updatedTimeStamp":null,"metaData":{"type":"softwareUpdateMetaData","partNumber":"006-DA542-00","version":"2.04","path":"Garmin/SQL/internal","fileSize":6057984,"serverPath":"http://download.garmin.com/gsup/006-DA542-00/2.04/full/rel/f6cb68a8-ec05-4445-8f1c-ebbb7530516e/","secureServerPath":"https://download.garmin.com/gsup/006-DA542-00/2.04/full/rel/f6cb68a8-ec05-4445-8f1c-ebbb7530516e/","fileName":"DA54200.db","filenameOnDevice":"DA54200.db","productName":"Category Alias Database","dataType":"Firmware","notes":null,"instructions":null,"installationOrder":100,"deliveryRestrictions":[],"changeLog":[]}},{"messageId":189808526261,"messageType":"metrics-file","messageStatus":"new","deviceId":12345678,"deviceName":"Edge 1040 Solar","applicationKey":"edge1040Solar","firmwareVersion":"2820","wifiSetup":false,"deviceXmlDataType":"FIT_TYPE_44","hidden":true,"createdTimeStamp":1781939726000,"updatedTimeStamp":null,"metaData":{"type":"deviceMessageMetaData","fileType":"FIT","messageUrl":"metrics-service/metrics/file/2026-06-20/a33b2e551a2f49fe9d39da9769ac82bb","absolute":false,"messageName":"Biometrics Data","groupName":"VO2 Max Data","priority":3,"metaDataId":0,"appDetails":null}},{"messageId":189853333926,"messageType":"metrics-file","messageStatus":"new","deviceId":12345678,"deviceName":"Edge 1040 Solar","applicationKey":"edge1040Solar","firmwareVersion":"2820","wifiSetup":false,"deviceXmlDataType":"FIT_TYPE_44","hidden":true,"createdTimeStamp":1781958002000,"updatedTimeStamp":null,"metaData":{"type":"deviceMessageMetaData","fileType":"FIT","messageUrl":"metrics-service/metrics/file/2026-06-20/18c1763906814d3096e952c4ac001619","absolute":false,"messageName":"Biom[...]
    - id: 3
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/web-gateway/device-info/primary-training-device
        method: GET
      response:
        body: '{"PrimaryTrainingDevice":{"deviceId":12345678},"WearableDevices":{"deviceWeights":[{"displayName":"anonymous","deviceId":12345678,"imageUrl":"https://example.com/profile.png","weight":3,"primaryTrainingCapable":true,"lhaBackupCapable":true,"primaryWearableDevice":true}],"wearableDeviceCount":1},"TrainingStatusOnlyDevices":{"deviceWeights":[]},"PrimaryTrainingDevices":{"deviceWeights":[{"displayName":"anonymous","deviceId":12345678,"imageUrl":"https://example.com/profile.png","weight":3,"primaryTrainingCapable":true,"lhaBackupCapable":true,"primaryWearableDevice":true},{"displayName":"anonymous","deviceId":12345678,"imageUrl":"https://res.garmin.com/en/products/010-02503-20/v/c1_01_md.png","weight":2,"primaryTrainingCapable":true,"lhaBackupCapable":true}],"primaryTrainingDeviceCount":2},"RegisteredDevices":[{"appSupport":true,"applicationKey":"fenix7ProSolar","deviceTypePk":37074,"bestInClassVideoLink":null,"bluetoothClassicDevice":false,"bluetoothLowEnergyDevice":true,"deviceCategories":["FITNESS","WELLNESS","GOLF","OUTDOOR"],"deviceEmbedVideoLink":null,"deviceSettingsFile":"anonymous-device-settings.json","gcmSettingsFile":null,"deviceVideoPageLink":null,"displayOrder":0,"golfDisplayOrder":0,"hasOpticalHeartRate":true,"highlighted":false,"hybrid":true,"imageUrl":"https://example.com/profile.png"[...]
