---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessage-service/stats/daily/2026-07-08/2026-07-15
        method: GET
      response:
        body: '[{"calendarDate":"2026-07-08","values":{"bodyFat":5.666666507720947,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.1666666666666665,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-09","values":{"bodyFat":6.024999618530273,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.0,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-10","values":{"bodyFat":5.71999979019165,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.1666666666666665,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-11","values":{"bodyFat":6.099999904632568,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.1666666666666665,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-12","values":{"bodyFat":6.157142162322998,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.1666666666666665,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-13","values":{"bodyFat":6.011110305786133,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.5,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-14","values":{"bodyFat":6.012500286102295,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.6666666666666665,"fitnessAge":37.55378016226252,"rhr":51}},{"calendarDate":"2026-07-15","values":{"bodyFat":6.412500858306885,"achievableFitnessAge":39.79174972641506,"vigorousDaysAvg":3.5,"fitnessAge":37.55378016226252,"rhr":51}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.5815ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessage-service/fitnessage/2026-07-15
        method: GET
      response:
        body: '{"chronologicalAge":46,"fitnessAge":37.55378016226252,"achievableFitnessAge":39.79174972641506,"previousFitnessAge":37.55378016226252,"components":{"bodyFat":{"value":6.1,"stale":false,"lastMeasurementDate":"2026-07-15"},"vigorousDaysAvg":{"value":3.5,"stale":false,"numOfWeeksForIm":6},"rhr":{"value":51,"stale":false},"vigorousMinutesAvg":{"value":160.1,"stale":false,"numOfWeeksForIm":6}},"lastUpdated":"2026-07-15T00:00:00.0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.6287ms
