---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            endDate:
                - "2026-07-15"
            groupByActivityType:
                - "false"
            groupByParentActivityType:
                - "false"
            metric:
                - duration
                - distance
                - calories
            standardizedUnits:
                - "false"
            startDate:
                - "2026-06-21"
            userFirstDay:
                - monday
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessstats-service/activity?aggregation=daily&userFirstDay=monday&startDate=2026-06-21&endDate=2026-07-15&groupByActivityType=false&standardizedUnits=false&groupByParentActivityType=false&metric=duration&metric=distance&metric=calories
        method: GET
      response:
        body: '[{"date":"2026-06-23","countOfActivities":2,"stats":{"all":{"duration":{"count":2,"min":2895822.021484375,"max":3251724.12109375,"avg":3073773.0712890625,"sum":6147546.142578125},"distance":{"count":2,"min":0.0,"max":766689.990234375,"avg":383344.9951171875,"sum":766689.990234375},"calories":{"count":2,"min":1453.9369399999998,"max":2581.05232,"avg":2017.4946299999997,"sum":4034.9892599999994}}}},{"date":"2026-06-24","countOfActivities":1,"stats":{"all":{"duration":{"count":1,"min":2735550.048828125,"max":2735550.048828125,"avg":2735550.048828125,"sum":2735550.048828125},"distance":{"count":1,"min":665577.001953125,"max":665577.001953125,"avg":665577.001953125,"sum":665577.001953125},"calories":{"count":1,"min":2329.65112,"max":2329.65112,"avg":2329.65112,"sum":2329.65112}}}},{"date[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - weekly
            endDate:
                - "2026-07-15"
            groupByActivityType:
                - "true"
            groupByParentActivityType:
                - "false"
            metric:
                - calories
            standardizedUnits:
                - "true"
            startDate:
                - "2026-06-21"
            userFirstDay:
                - monday
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessstats-service/activity?aggregation=weekly&userFirstDay=monday&startDate=2026-06-21&endDate=2026-07-15&groupByActivityType=true&standardizedUnits=true&groupByParentActivityType=false&metric=calories
        method: GET
      response:
        body: '[{"date":"2026-06-22","countOfActivities":3,"stats":{"running":{"calories":{"count":3,"min":2074.0598999999997,"max":2581.05232,"avg":2328.2544466666664,"sum":6984.7633399999995}},"fitness_equipment":{"calories":{"count":3,"min":733.2534999999999,"max":1567.06748,"avg":1251.4193066666664,"sum":3754.2579199999996}}}},{"date":"2026-06-29","countOfActivities":2,"stats":{"fitness_equipment":{"calories":{"count":4,"min":1106.16528,"max":3766.8279799999996,"avg":2397.738945,"sum":9590.95578}},"cycling":{"calories":{"count":2,"min":3871.5784799999997,"max":4801.762919999999,"avg":4336.6707,"sum":8673.3414}}}},{"date":"2026-07-06","countOfActivities":1,"stats":{"running":{"calories":{"count":3,"min":1030.7449199999999,"max":2329.65112,"avg":1797.51858,"sum":5392.55574}},"fitness_equipment":{"calories":{"count":8,"min":515.3724599999999,"max":3012.6243799999997,"avg":1439.2718699999998,"sum":11514.174959999998}},"cycling":{"calories":{"count":1,"min":4353.43078,"max":4353.43078,"avg":4353.43078,"sum":4353.43078}}}},{"date":"2026-07-13","countOfActivities":1,"stats":{"running":{"calories":{"count":1,"min":1428.7968199999998,"max":1428.7968199999998,"avg":1428.7968199999998,"sum":1428.7968199999998}},"fitness_equipment":{"calories":{"count":4,"min":188.55089999999998,"max":1244.4359399999998,"avg":842.1940199999999,"sum":3368.7760799999996}}}}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 66.7334ms
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            activityType:
                - running
            endDate:
                - "2026-07-15"
            metric:
                - startLocal
                - activityType
                - activitySubType
                - name
                - aerobicTrainingEffect
                - anaerobicTrainingEffect
            startDate:
                - "2026-06-21"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/fitnessstats-service/activity/all?startDate=2026-06-21&endDate=2026-07-15&activityType=running&metric=startLocal&metric=activityType&metric=activitySubType&metric=name&metric=aerobicTrainingEffect&metric=anaerobicTrainingEffect
        method: GET
      response:
        body: '[{"activityId":23357186947,"name":"Seattle Running","aerobicTrainingEffect":3.0999999046325684,"anaerobicTrainingEffect":0.20000000298023224,"startLocal":"2026-06-23T14:18:32","activityType":"running"},{"activityId":23369443525,"name":"Seattle Running","aerobicTrainingEffect":3.200000047683716,"anaerobicTrainingEffect":0.0,"startLocal":"2026-06-24T15:32:22","activityType":"running"},{"activityId":23400280253,"name":"Seattle Running","aerobicTrainingEffect":2.5,"anaerobicTrainingEffect":0.0,"startLocal":"2026-06-27T12:01:53","activityType":"running"},{"activityId":23503161825,"name":"Seattle Running","aerobicTrainingEffect":2.700000047683716,"anaerobicTrainingEffect":0.800000011920929,"startLocal":"2026-07-06T12:52:46","activityType":"running"},{"activityId":23528996579,"name":"Seattle Running","aerobicTrainingEffect":3.200000047683716,"anaerobicTrainingEffect":0.0,"startLocal":"2026-07-08T14:43:37","activityType":"running"},{"activityId":23551770821,"name":"Seattle Running","aerobicTrainingEffect":3.5,"anaerobicTrainingEffect":0.0,"startLocal":"2026-07-10T13:45:31","activityType":"running"},{"activityId":23587751271,"name":"Seattle Running","aerobicTrainingEffect":2.700000047683716,"anaerobicTrainingEffect":3.299999952316284,"startLocal":"2026-07-13T15:36:19","activityType":"running"}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 63.2808ms
