---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/hrv-service/hrv/2026-07-15
        method: GET
      response:
        body: '{"userProfilePk":12345678,"hrvSummary":{"calendarDate":"2026-07-15","weeklyAvg":45,"lastNightAvg":44,"lastNight5MinHigh":58,"baseline":{"lowUpper":40,"balancedLow":43,"balancedUpper":55,"markerValue":0.33332825},"status":"BALANCED","feedbackPhrase":"HRV_BALANCED_2","createTimeStamp":"2026-07-15T15:29:41.491"},"hrvReadings":[{"hrvValue":30,"readingTimeGMT":"2026-07-15T05:49:38.0","readingTimeLocal":"2026-07-14T22:49:38.0"},{"hrvValue":33,"readingTimeGMT":"2026-07-15T05:54:38.0","readingTimeLocal":"2026-07-14T22:54:38.0"},{"hrvValue":38,"readingTimeGMT":"2026-07-15T05:59:38.0","readingTimeLocal":"2026-07-14T22:59:38.0"},{"hrvValue":37,"readingTimeGMT":"2026-07-15T06:04:38.0","readingTimeLocal":"2026-07-14T23:04:38.0"},{"hrvValue":37,"readingTimeGMT":"2026-07-15T06:09:38.0","readingTimeLocal":"2026-07-14T23:09:38.0"},{"hrvValue":35,"readingTimeGMT":"2026-07-15T06:14:38.0","readingTimeLocal":[...]
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/hrv-service/hrv/daily/2026-07-08/2026-07-15
        method: GET
      response:
        body: '{"hrvSummaries":[{"calendarDate":"2026-07-08","weeklyAvg":42,"lastNightAvg":46,"lastNight5MinHigh":63,"baseline":{"lowUpper":41,"balancedLow":43,"balancedUpper":56,"markerValue":0.21458435},"status":"UNBALANCED","feedbackPhrase":"HRV_UNBALANCED_8","createTimeStamp":"2026-07-08T13:10:52.650"},{"calendarDate":"2026-07-09","weeklyAvg":42,"lastNightAvg":35,"lastNight5MinHigh":57,"baseline":{"lowUpper":40,"balancedLow":43,"balancedUpper":56,"markerValue":0.22383118},"status":"UNBALANCED","feedbackPhrase":"HRV_UNBALA[...]
