---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/lifestylelogging-service/dailyLog/2026-07-15
        method: GET
      response:
        body: '{"dailyLogsReport":[{"behaviourId":1,"measurementType":"QUANTITY","calendarDate":"2026-07-15","name":"Alcohol","category":"LIFESTYLE","details":[{"subTypeId":1,"subTypeName":"BEER"},{"subTypeId":2,"subTypeName":"WINE"},{"subTypeId":3,"subTypeName":"SPIRIT"},{"subTypeId":4,"subTypeName":"OTHER"}],"sleepRelated":false},{"behaviourId":10,"measurementType":"NONE","calendarDate":"2026-07-15","name":"Sauna/Steam Room","category":"SELF_CARE","sleepRelated":false}],"completionStats":[{"calendarDate":"2026-07-09","totalTracking":2,"completedTracking":0},{"calendarDate":"2026-07-10","totalTracking":2,"completedTracking":0},{"calendarDate":"2026-07-11","totalTracking":2,"completedTracking":0},{"calendarDate":"2026-07-12","totalTracking":2,"completedTracking":0},{"calendarDate":"2026-07-13","totalTracking":2,"completedTracking":0},{"calendarDate":"2026-07-14","totalTracking":2,"completedTracking":0},{"calendarDate":"2026-07-15","totalTracking":2,"completedTracking":0}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.9886ms
