---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingreadiness/2026-07-15
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"calendarDate":"2026-07-15","timestamp":"2026-07-15T15:29:38.0","timestampLocal":"2026-07-15T08:29:38.0","deviceId":12345678,"level":"LOW","feedbackLong":"LOW_RT_MOD_OR_LOW_SS_MOD_ACWR_NEG","feedbackShort":"BALANCE_YOUR_TRAINING_LOAD","score":40,"sleepScore":75,"sleepScoreFactorPercent":62,"sleepScoreFactorFeedback":"MODERATE","recoveryTime":1889,"recoveryTimeFactorPercent":49,"recoveryTimeFactorFeedback":"MODERATE","acwrFactorPercent":73,"acwrFactorFeedback":"GOOD","acuteLoad":655,"stressHistoryFactorPercent":96,"stressHistoryFactorFeedback":"GOOD","hrvFactorPercent":93,"hrvFactorFeedback":"GOOD","hrvWeeklyAverage":45,"sleepHistoryFactorPercent":76,"sleepHistoryFactorFeedback":"GOOD","validSleep":true,"inputContext":"AFTER_WAKEUP_RESET","primaryActivityTracker":true,"recoveryTimeChangePhrase":"NO_CHANGE_SLEEP"}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 86.0721ms
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            calendarDate:
                - "2026-07-15"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/endurancescore?calendarDate=2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-07-15","overallScore":5451,"classification":2,"feedbackPhrase":19,"primaryTrainingDevice":true,"gaugeLowerLimit":3500,"classificationLowerLimitIntermediate":5000,"classificationLowerLimitTrained":5700,"classificationLowerLimitWellTrained":6400,"classificationLowerLimitExpert":7000,"classificationLowerLimitSuperior":7700,"classificationLowerLimitElite":8400,"gaugeUpperLimit":10080,"contributors":[{"activityTypeId":null,"group":7,"contribution":39.41},{"activityTypeId":null,"group":1,"contribution":26.92},{"activityTypeId":null,"group":0,"contribution":15.48},{"activityTypeId":null,"group":8,"contribution":18.19}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 61.1531ms
    - id: 2
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - weekly
            endDate:
                - "2026-07-15"
            startDate:
                - "2026-04-22"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/endurancescore/stats?startDate=2026-04-22&endDate=2026-07-15&aggregation=weekly
        method: GET
      response:
        body: '{"userProfilePK":12345678,"startDate":"2026-04-22","endDate":"2026-07-15","avg":5587,"max":5857,"groupMap":{"2026-04-16":{"groupAverage":5408,"groupMax":5408,"enduranceContributorDTOList":[{"activityTypeId":null,"group":7,"contribution":16.74},{"activityTypeId":null,"group":0,"contribution":13.5},{"activityTypeId":null,"group":1,"contribution":60.28},{"activityTypeId":null,"group":8,"contribution":9.48}]},"2026-04-23":{"groupAverage":5411,"groupMax":5441,"enduranceContributorDTOList":[{"activityTypeId":null,"group":7,"contribution":18.295715},{"activityTypeId":null,"group":0,"contribution":10.051429},{"activityTypeId":null,"group":1,"contribution":59.260002},{"activityTypeId":nul[...]
    - id: 3
      request:
        host: connectapi.garmin.com
        form:
            calendarDate:
                - "2026-07-15"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/hillscore?calendarDate=2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-07-15","strengthScore":19,"enduranceScore":16,"hillScoreClassificationId":2,"overallScore":38,"hillScoreFeedbackPhraseId":42,"vo2Max":49.0,"vo2MaxPreciseValue":48.9,"primaryTrainingDevice":true}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 75.4588ms
    - id: 4
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            endDate:
                - "2026-07-15"
            startDate:
                - "2026-07-08"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/hillscore/stats?startDate=2026-07-08&endDate=2026-07-15&aggregation=daily
        method: GET
      response:
        body: '{"userProfilePK":12345678,"startDate":"2026-07-08","endDate":"2026-07-15","periodAvgScore":{"2026-07-08":37},"maxScore":38,"hillScoreDTOList":[{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-07-15","strengthScore":19,"enduranceScore":16,"hillScoreClassificationId":2,"overallScore":38,"hillScoreFeedbackPhraseId":42,"vo2Max":null,"vo2MaxPreciseValue":null,"primaryTrainingDevice":true},{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-07-14","strengthScore":19,"enduranceScore":16,"hillScoreClassificationId":2,"overallScore":38,"hillScoreFeedbackPhraseId":4,"vo2Max":null,"vo2MaxPreciseValue":null,"prima[...]
    - id: 5
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/userprofile-service/socialProfile
        method: GET
      response:
        body: '{"id":12345678,"profileId":12345678,"garminGUID":"00000000-0000-0000-0000-000000000000","displayName":"anonymous","fullName":"Anonymous User","userName":"anonymous","profileImageType":"UPLOADED_PHOTO","profileImageUrlLarge":"https://example.com/profile.png","profileImageUrlMedium":"https://example.com/profile.png","profileImageUrlSmall":"https://example.com/profile.png","hasPremiumSocialIcon":false,"location":"Anonymous City","facebookUrl":null,"twitterUrl":null,"personalWebsite":null,"motivation":null,"bio":null,"primaryActivity":null,"favoriteActivityTypes":["cycling","cross_training","walking","other"],"runningTrainingSpeed":0.0,"cyclingTrainingSpeed":0.0,"favoriteCyclingActivityTypes":[],"cyclingClassification":null,"cyclingMaxAvgPower":0.0,"swimmingTrainingSpeed":0.0,"profileVisibility":"following","activityStartVisibility":"public","activityMapVisibility":"public","courseVisibility":"public","activityHeartRateVisibility":"public","activityPowerVisibility":"public","badgeVisibility":"groups","showAge":true,"showWeight":true,"showHeight":true,"showWeightClass":false,"showAgeRange":false,"showGender":true,"showActivityClass":false,"showVO2Max":true,"showPersonalRecords":true,"showLast12Months":true,"showLifetimeTotals":true,"showUpcomingEvents":true,"showRecentFavorites":true,"showRecentDevice":true,"showRecentGear":false,"showBadges":true,"otherActivity":null,"otherPrimaryActivity":null,"otherMotivation":null,"userRoles":["SCOPE_OMT_DISCOUNTS_READ","SCOPE_DI_COACHING_WRITE","SCOPE_GARMINPAY_WRITE","SCOPE_ATP_READ","SCOPE_GHS_SAMD","SCOPE_INSIGHTS_READ","SCOPE_OMT_DISCOUNTS_CREATE","SCOPE_CIQ_APPSTORE_SERVICES_CREATE","SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_GCOFFER_WRITE","SCOPE_DI_API_READ","SCOPE_DT_CLIENT_ANALYTICS_WRITE","SCOPE_CIQ_APPSTORE_SERVICES_DELETE","SCOPE_OMT_SUBSCRIPTION_READ","SCOPE_DI_COACHING_READ","SCOPE_CONNECT_READ","SCOPE_COMMUNITY_COURSE_READ","SCOPE_GOLF_API_READ","SCOPE_GHS_UPLOAD","SCOPE_DIVE_API_READ","SCOPE_CIQ_APPSTORE_SERVICES_READ","SCOPE_CIQ_APPSTORE_SERVICES_UPDATE","SCOPE_CONNECT_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_GARMINPAY_READ","SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE","SCOPE_GOLF_API_WRITE","SCOPE_INSIGHTS_WRITE","SCOPE_PRODUCT_SEARCH_READ","SCOPE_OMT_CAMPAIGN_READ","SCOPE_GCOFFER_READ","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GHS_USER","ROLE_TACX_APP_USER","ROLE_GARMIN_USER"],"nameApproved":true,"userProfileFullName":"Anonymous User","makeGolfScorecardsPrivate":true,"allowGolfLiveScoring":false,"allowGolfScoringByConnections":true,"userLevel":3,"userPoint":102,"levelUpdateDate":"2024-10-04T00:56:56.0","levelIsViewed":false,"levelPointThreshold":140,"userPointOffset":0,"userPro":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.9626ms
    - id: 6
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/racepredictions/latest/anonymous
        method: GET
      response:
        body: '{"userId":12345678,"fromCalendarDate":null,"toCalendarDate":null,"calendarDate":"2026-07-15","time5K":1490,"time10K":3263,"timeHalfMarathon":7493,"timeMarathon":16841}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 62.4433ms
    - id: 7
      request:
        host: connectapi.garmin.com
        form:
            fromCalendarDate:
                - "2026-07-08"
            toCalendarDate:
                - "2026-07-15"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/racepredictions/daily/anonymous?fromCalendarDate=2026-07-08&toCalendarDate=2026-07-15
        method: GET
      response:
        body: '[{"userId":12345678,"fro[...]
    - id: 8
      request:
        host: connectapi.garmin.com
        form:
            fromCalendarDate:
                - "2026-07-08"
            toCalendarDate:
                - "2026-07-15"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/racepredictions/monthly/anonymous?fromCalendarDate=2026-07-08&toCalendarDate=2026-07-15
        method: GET
      response:
        body: '[{"userId":12345678,"fromCalendarDate":"2026-07-08","toCalendarDate":"2026-07-15","calendarDate":"2026-07-15","time5K":1490,"time10K":3263,"timeHalfMarathon":7493,"timeMarathon":16841}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 60.5498ms
    - id: 9
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/latest/2026-07-15
        method: GET
      response:
        body: '{"userId":12345678,"generic":{"calendarDate":"2026-07-13","vo2MaxPreciseValue":48.9,"vo2MaxValue":49.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":{"calendarDate":"2026-03-12","vo2MaxPreciseValue":45.4,"vo2MaxValue":45.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":1},"heatAltitudeAcclimation":{"calendarDate":"2026-07-15","altitudeAcclimationDate":"2026-07-15","previousAltitudeAcclimationDate":"2026-07-15","heatAcclimationDate":"2026-07-15","previousHeatAcclimationDate":"2026-07-15","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":15,"previousHeatAcclimationPercentage":15,"heatTrend":"ACCLIMATIZED","altitudeTrend":null,"currentAltitude":0,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2026-07-15T00:04:38.0"}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 98.5562ms
    - id: 10
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/daily/2026-06-15/2026-07-15
        method: GET
      response:
        body: '[{"userId":12345678,"generic":{"calendarDate":"2026-06-16","vo2MaxPreciseValue":48.8,"vo2MaxValue":49.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimati[...]
    - id: 11
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingstatus/aggregated/2026-07-15
        method: GET
      response:
        body: '{"userId":12345678,"mostRecentVO2Max":{"userId":12345678,"generic":{"calendarDate":"2026-07-13","vo2MaxPreciseValue":48.9,"vo2MaxValue":49.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2026-07-15","altitudeAcclimationDate":"2026-07-15","previousAltitudeAcclimationDate":"2026-07-15","heatAcclimationDate":"2026-07-15","previousHeatAcclimationDate":"2026-07-15","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":15,"previousHeatAcclimationPercentage":15,"heatTrend":"ACCLIMATIZED","altitudeTrend":null,"currentAltitude":0,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2026-07-15T00:04:38.0"}},"mostRecentTrainingLoadBalance":{"userId":12345678,"metricsTrainingLoadBalanceDTOMap":{"3499843767":{"calendarDate":"2026-07-15","deviceId":12345678,"monthlyLoadAerobicLow":952.08167,"monthlyLoadAerobicHigh":219.49236,"monthlyLoadAnaerobic":502.13562,"monthlyLoadAerobicLowTargetMin":272,"monthlyLoadAerobicLowTargetMax":673,"monthlyLoadAerobicHighTargetMin":462,"monthlyLoadAerobicHighTargetMax":863,"monthlyLoadAnaerobicTargetMin":133,"monthlyLoadAnaerobicTargetMax":400,"trainingBalanceFeedbackPhrase":"AEROBIC_HIGH_SHORTAGE","primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://example.com/profile.png","deviceName":"fenix 7 Pro Solar (2)","category":0}]},"mostRecentTrainingStatus":{"userId":12345678,"latestTrainingStatusData":{"3499843767":{"calendarDate":"2026-07-15","sinceDate":"2026-07-06","weeklyTrainingLoad":null,"trainingStatus":7,"timestamp":1784129378000,"deviceId":12345678,"loadTunnelMin":null,"loadTunnelMax":null,"loadLevelTrend":null,"sport":"RUNNING","subSport":"GENERIC","fitnessTrendSport":"RUNNING","fitnessTrend":3,"trainingStatusFeedbackPhrase":"PRODUCTIVE_9","trainingPaused":false,"acuteTrainingLoadDTO":{"acwrPercent":61,"acwrStatus":"OPTIMAL","acwrStatusFeedback":"FEEDBACK_3","dailyTrainingLoadAcute":655,"maxTrainingLoadChronic":691.5,"minTrainingLoadChronic":368.8,"dailyTrainingLoadChronic":461,"dailyAcuteChronicWorkloadRatio":1.4},"primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://example.com/profile.png","deviceName":"fenix 7 Pro Solar (2)","category":0}],"showSelector":false,"lastPrimarySyncDate":"2026-07-15"},"heatAltitudeAcclimationDTO":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 157.5839ms
    - id: 12
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingstatus/daily/2026-07-15
        method: GET
      response:
        body: '{"userId":12345678,"latestTrainingStatusData":{"3499843767":{"calendarDate":"2026-07-15","sinceDate":"2026-07-06","weeklyTrainingLoad":null,"trainingStatus":7,"timestamp":1784129378000,"deviceId":12345678,"loadTunnelMin":null,"loadTunnelMax":null,"loadLevelTrend":null,"sport":"RUNNING","subSport":"GENERIC","fitnessTrendSport":"RUNNING","fitnessTrend":3,"trainingStatusFeedbackPhrase":"PRODUCTIVE_9","trainingPaused":false,"acuteTrainingLoadDTO":{"acwrPercent":61,"acwrStatus":"OPTIMAL","acwrStatusFeedback":"FEEDBACK_3","dailyTrainingLoadAcute":655,"maxTrainingLoadChronic":691.5,"minTrainingLoadChronic":368.8,"dailyTrainingLoadChronic":461,"dailyAcuteChronicWorkloadRatio":1.4},"primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://example.com/profile.png","deviceName":"fenix 7 Pro Solar (2)","category":0}],"showSelector":false,"lastPrimarySyncDate":"2026-07-15"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 88.9128ms
    - id: 13
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingloadbalance/latest/2026-07-15
        method: GET
      response:
        body: '{"userId":12345678,"metricsTrainingLoadBalanceDTOMap":{"3499843767":{"calendarDate":"2026-07-15","deviceId":12345678,"monthlyLoadAerobicLow":952.08167,"monthlyLoadAerobicHigh":219.49236,"monthlyLoadAnaerobic":502.13562,"monthlyLoadAerobicLowTargetMin":272,"monthlyLoadAerobicLowTargetMax":673,"monthlyLoadAerobicHighTargetMin":462,"monthlyLoadAerobicHighTargetMax":863,"monthlyLoadAnaerobicTargetMin":133,"monthlyLoadAnaerobicTargetMax":400,"trainingBalanceFeedbackPhrase":"AEROBIC_HIGH_SHORTAGE","primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"https://example.com/profile.png","deviceName":"fenix 7 Pro Solar (2)","category":0}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 77.2115ms
    - id: 14
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/metrics-service/metrics/heataltitudeacclimation/latest/2026-07-15
        method: GET
      response:
        body: '{"calendarDate":"2026-07-15","altitudeAcclimationDate":"2026-07-15","previousAltitudeAcclimationDate":"2026-07-15","heatAcclimationDate":"2026-07-15","previousHeatAcclimationDate":"2026-07-15","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":15,"previousHeatAcclimationPercentage":15,"heatTrend":"ACCLIMATIZED","altitudeTrend":null,"currentAltitude":0,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2026-07-15T00:04:38.0"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 67.5301ms
