---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/periodichealth-service/menstrualcycle/dayview/2026-07-15
        method: GET
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 88.764ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/periodichealth-service/menstrualcycle/calendar/2026-04-16/2026-07-15
        method: GET
      response:
        body: '{"cycleSummaries":[],"loggedSymptomDays":[],"loggedOvulationDays":[],"loggedNoteDays":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.0227ms
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/periodichealth-service/menstrualcycle/pregnancysnapshot
        method: GET
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 92.256ms
