---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/userprofile-service/socialProfile
        method: GET
      response:
        body: '{"id":12345678,"profileId":12345678,"garminGUID":"00000000-0000-0000-0000-000000000000","displayName":"anonymous","fullName":"Anonymous User","userName":"anonymous","profileImageType":"UPLOADED_PHOTO","profileImageUrlLarge":"https://example.com/profile.png","profileImageUrlMedium":"https://example.com/profile.png","profileImageUrlSmall":"https://example.com/profile.png","hasPremiumSocialIcon":false,"location":"Anonymous City","facebookUrl":null,"twitterUrl":null,"personalWebsite":null,"motivation":null,"bio":null,"primaryActivity":null,"favoriteActivityTypes":["cycling","cross_training","walking","other"],"runningTrainingSpeed":0.0,"cyclingTrainingSpeed":0.0,"favoriteCyclingActivityTypes":[],"cyclingClassification":null,"cyclingMaxAvgPower":0.0,"swimmingTrainingSpeed":0.0,"profileVisibility":"following","activityStartVisibility":"public","activityMapVisibility":"public","courseVisibility":"public","activityHeartRateVisibility":"public","activityPowerVisibility":"public","badgeVisibility":"groups","showAge":true,"showWeight":true,"showHeight":true,"showWeightClass":false,"showAgeRange":false,"showGender":true,"showActivityClass":false,"showVO2Max":true,"showPersonalRecords":true,"showLast12Months":true,"showLifetimeTotals":true,"showUpcomingEvents":true,"showRecentFavorites":true,"showRecentDevice":true,"showRecentGear":false,"showBadges":true,"otherActivity":null,"otherPrimaryActivity":null,"otherMotivation":null,"userRoles":["SCOPE_OMT_DISCOUNTS_READ","SCOPE_DI_COACHING_WRITE","SCOPE_GARMINPAY_WRITE","SCOPE_ATP_READ","SCOPE_GHS_SAMD","SCOPE_INSIGHTS_READ","SCOPE_OMT_DISCOUNTS_CREATE","SCOPE_CIQ_APPSTORE_SERVICES_CREATE","SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_GCOFFER_WRITE","SCOPE_DI_API_READ","SCOPE_DT_CLIENT_ANALYTICS_WRITE","SCOPE_CIQ_APPSTORE_SERVICES_DELETE","SCOPE_OMT_SUBSCRIPTION_READ","SCOPE_DI_COACHING_READ","SCOPE_CONNECT_READ","SCOPE_COMMUNITY_COURSE_READ","SCOPE_GOLF_API_READ","SCOPE_GHS_UPLOAD","SCOPE_DIVE_API_READ","SCOPE_CIQ_APPSTORE_SERVICES_READ","SCOPE_CIQ_APPSTORE_SERVICES_UPDATE","SCOPE_CONNECT_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_GARMINPAY_READ","SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE","SCOPE_GOLF_API_WRITE","SCOPE_INSIGHTS_WRITE","SCOPE_PRODUCT_SEARCH_READ","SCOPE_OMT_CAMPAIGN_READ","SCOPE_GCOFFER_READ","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GHS_USER","ROLE_TACX_APP_USER","ROLE_GARMIN_USER"],"nameApproved":true,"userProfileFullName":"Anonymous User","makeGolfScorecardsPrivate":true,"allowGolfLiveScoring":false,"allowGolfScoringByConnections":true,"userLevel":3,"userPoint":102,"levelUpdateDate":"2024-10-04T00:56:56.0","levelIsViewed":false,"levelPointThreshold":140,"userPointOffset":0,"userPro":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.3729ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/personalrecord-service/personalrecord/prs/anonymous
        method: GET
      response:
        body: '[{"id":12345678,"typeId":1,"status":"ACCEPTED","activityId":19985605261,"activityName":"Anonymous Activity","activityType":"running","activityStartDateTimeInGMT":1754597191000,"actStartDateTimeInGMTFormatted":"2025-08-07T20:06:31.0","activityStartDateTimeLocal":1754571991000,"activityStartDateTimeLocalFormatted":"2025-08-07T13:06:31.0","value":291.572998046875,"prStartTimeGmt":1754598060000,"prStartTimeGmtFormatted":"2025-08-07T20:21:00.0","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":12345678,"typeId":2,"status":"ACCEPTED","activityId":23503161825,"activityName":"Anonymous Activity","activityType":"running","activityStartDateTimeInGMT":1783367566000,"actStartDateTimeInGMTFormatted":"2026-07-06T19:52:46.0","activityStartDateTimeLocal":1783342366000,"activityStartDateTimeLocalFormatted":"2026-07-06T12:52:46.0","value":491.5419921875,"prStartTimeGmt":1783367584000,"prStartTimeGmtFormatted":"2026-07-06T19:53:04.0","prStartTimeLocal":null,"prStartTimeLocalFormatted":n[...]
