---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            date:
                - "2026-07-15"
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/sleep-service/sleep/dailySleepData?date=2026-07-15
        method: GET
      response:
        body: '{"dailySleepDTO":{"id":12345678,"userProfilePK":12345678,"calendarDate":"2026-07-15","sleepTimeSeconds":23460,"napTimeSeconds":0,"sleepWindowConfirmed":true,"sleepWindowConfirmationType":"enhanced_confirmed_final","sleepStartTimestampGMT":1784094339000,"sleepEndTimestampGMT":1784119299000,"sleepStartTimestampLocal":1784069139000,"sleepEndTimestampLocal":1784094099000,"autoSleepStartTimestampGMT":null,"autoSleepEndTimestampGMT":null,"sleepQualityTypePK":null,"sleepResultTypePK":null,"unmeasurableSleepSeconds":0,"deepSleepSeconds":4500,"lightSleepSeconds":15420,"remSleepSeconds":3540,"awakeSleepSeconds":1500,"deviceRemCapable":true,"retro":false,"sleepFromDevice":true,"averageSpO2Value":97.0,"lowestSpO2Value":94,"highestSpO2Value":99,"averageSpO2HRSleep":58.0,"averageRespirationValue":13.0,"lowestRespirationValue":8.0,"highestRespirationValue":18.0,"awakeCount":2,"avgSleepStress":21.0,"ageGroup":"ADULT","avgHeartRate":58.0,"sleepScoreFeedback":"POSITIVE_DEEP","sleepScoreInsight":"POSITIVE_RESTFUL_DAY","sleepScorePersonalizedInsight":"STRESS_POS_FAIR_OR_POOR_SLEEP_RESTFUL_DAY","sleepScores":{"totalDuration":{"qualifierKey":"FAIR","optimalStart":28200.0,"optimalEnd":28200.0},"stress":{"qualifierKey":"FAIR","optimalStart":0.0,"optimalEnd":15.0},"awakeCount":{"qualifierKey":"FAIR","optimalStart":0.0,"optimalEnd":1.0},"overall":{"value":75,"qualifierKey":"FAIR"},"remPercentage":{"value":15,"qualifierKey":"FAIR","optimalStart":21.0,"optimalEnd":31.0,"idealStartInSeconds":4926.6,"idealEndInSeconds":7272.6},"restlessness":{"qualifierKey":"FAIR","optimalStart":0.0,"optimalEnd":5.0},"lightPercentage":{"value":66,"qualifierKey":"FAIR","optimalStart":30.0,"optimalEnd":64.0,"idealStartInSeconds":7038.0,"idealEndInSeconds":15014.4},"deepPercentage":{"value":19,"qualifierKey":"EXCELLENT","optimalStart":16.0,"optimalEnd":33.0,"idealStartInSeconds":3753.6,"idealEndInSeconds":7741.8}},"sleepVersion":2,"sleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-07-15","deviceId":12345678,"timestampGmt":"2026-07-15T01:55:40","baseline":470,"actual":470,"feedback":"NO_CHANGE_NO_ADJUSTMENTS","trainingFeedback":"NO_CHANGE","sleepHistoryAdjustment":"NO_CHANGE","hrvAdjustment":"NO_CHANGE","napAdjustment":"NO_CHANGE","displayedForTheDay":false,"preferredActivityTracker":true},"nextSleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-07-16","deviceId":12345678,"timestampGmt":"2026-07-15T15:29:38","baseline":470,"actual":510,"feedback":"INCREASED","trainingFeedback":"HIGH_ACWR_AND_CHRONIC","sleepHistoryAdjustment":"INCREASING","hrvAdjustment":"NO_CHANGE","napAdjustment":"NO_CHANGE","displayedForTheDay":true,"preferredActivityTracker":true},"breathingDisruptionSeverity":"NONE"},"sleepMovement":[{"startGMT":"2026-07-15T04:45:00.0","endGMT":"2026-07-15T04:46:00.0","activityLevel":5.696101234568183},{"startGMT":"2026-07-15T04:46:00.0","endGMT":"2026-07-15T04:47:00.0","activityLevel":5.26578456730956},{"startGMT":"2026-07-15T04:47:00.0","endGMT":"2026-07-15T04:48:00.0","activityLevel":4.8243201085601175},{"startGMT":"2026-07-15T04:48:00.0","endGMT":"2026-07-15T04:49:00.0","activityLevel":4.382388554660207},{"startGMT":"2026-07-15T04:49:00.0","endGMT":"2026-07-15T04:50:00.0","activityLevel":3.951757805553563},{"startGMT":"2026-07-15T04:50:00.0","endGMT":"2026-07-15T04:51:00[...]
