---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/weight-service/weight/dayview/2026-07-15
        method: GET
      response:
        body: '{"startDate":"2026-07-15","endDate":"2026-07-15","dateWeightList":[{"samplePk":1784133284381,"date":1784108054000,"calendarDate":"2026-07-15","weight":84510.0,"bmi":26.700000762939453,"bodyFat":6.9,"bodyWater":68.0,"boneMass":6340,"muscleMass":33200,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"INDEX_SCALE","timestampGMT":1784133254000,"weightDelta":816.4662660000051}],"totalAverage":{"from":1784073600000,"until":1784159999999,"weight":84510.0,"bmi":26.700000762939453,"bodyFat":6.9,"bodyWater":68.0,"boneMass":6340,"muscleMass":33200,"physiqueRating":null,"visceralFat":null,"metabolicAge":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.9446ms
    - id: 1
      request:
        host: connectapi.garmin.com
        form:
            includeAll:
                - "true"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/weight-service/weight/range/2026-06-15/2026-07-15?includeAll=true
        method: GET
      response:
        body: '{"dailyWeightSummaries":[{"summaryDate":"2026-07-15","numOfWeightEntries":1,"minWeight":84510.0,"maxWeight":84510.0,"latestWeight":{"samplePk":1784133284381,"date":1784108054000,"calendarDate":"2026-07-15","weight":84510.0,"bmi":26.700000762939453,"bodyFat":6.9,"bodyWater":68.0,"boneMass":6340,"muscleMass":33200,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"INDEX_SCALE","timestampGMT":1784133254000,"weightDelta":816.4662660000051},"allWeightMetrics":[{"samplePk":1784133284381,"date":1784108054000,"calendarDate":"2026-07-15","weight":84510.0,"bmi":26.700000762939453,"bodyFat":6.9,"bodyWater":68.0,"boneMass":6340,"muscleMass":33200,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"INDEX_SCALE","timestampGMT":1784133254000,"weightDelta":816.4662660000051}]},{"summaryDate":"2026-07-13","numOfWeightEntries":2,"minWeight":83680.0,"maxWeight":84660.0,"latestWeight":{"samplePk":1783987157802,"date":1783961925000,"calendarDa[...]
