---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyStress/2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-07-15","startTimestampGMT":"2026-07-15T07:00:00.0","endTimestampGMT":"2026-07-15T15:29:00.0","startTimestampLocal":"2026-07-15T00:00:00.0","endTimestampLocal":"2026-07-15T08:29:00.0","maxStressLevel":76,"avgStressLevel":21,"stressChartValueOffset":1,"stressChartYAxisOrigin":-1,"stressValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"stressLevel"}],"stressValuesArray":[[1784098800000,-1],[1784098980000,28],[1784099160000,28],[1784099340000,28],[1784099520000,35],[1784099700000,25],[1784099880000,25],[1784100060000,24],[1784100240000,23],[1784100420000,24],[1784100600000,25],[1784100780000,25],[1784100960000,24],[1784101140000,23],[1784101320000,23],[1784101500000,23],[1784101680000,23],[1784101860000,21],[1784102040000,22],[1784102220000,20],[1784102400000,19],[1784102580000,18],[1784102760000,20],[1784102940000,25],[1784103120000,22],[1784103300000,24],[1784[...]
