---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/spo2/2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-07-15","startTimestampGMT":"2026-07-15T07:00:00.0","endTimestampGMT":"2026-07-15T15:29:00.0","startTimestampLocal":"2026-07-15T00:00:00.0","endTimestampLocal":"2026-07-15T08:29:00.0","sleepStartTimestampGMT":"2026-07-15T05:45:39.0","sleepEndTimestampGMT":"2026-07-15T12:41:39.0","sleepStartTimestampLocal":"2026-07-14T22:45:39.0","sleepEndTimestampLocal":"2026-07-15T05:41:39.0","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"averageSpO2":97.0,"lowestSpO2":94,"lastSevenDaysAvgSpO2":96.85714285714286,"latestSpO2":96,"latestSpO2TimestampGMT":"2026-07-15T15:29:00.0","latestSpO2TimestampLocal":"2026-07-15T08:29:00.0","avgSleepSpO2":97.0,"avgTomorrowSleepSpO2":null,"spO2ValueDescriptorsDTOList":[{"spo2ValueDescriptorIndex":0,"spo2ValueDescriptorKey":"timestamp"},{"spo2ValueDescriptorIndex":1,"spo2ValueDescriptorKey":"spo2Reading"},{"spo2ValueDescriptorIndex":2,"spo2ValueDescriptorKey":"singleReadingPlottable"}],"spO2SingleValues":null,"continuousReadingDTOList":null,"spO2HourlyAverages":[[1784098800000,97],[1784102400000,96],[1784106000000,96],[1784109600000,96],[1784113200000,96],[1784116800000,97],[1784120400000,97],[1784124000000,98],[1784127600000,97]]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.026ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/respiration/2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-07-15","startTimestampGMT":"2026-07-15T07:00:00.0","endTimestampGMT":"2026-07-15T15:29:00.0","startTimestampLocal":"2026-07-15T00:00:00.0","endTimestampLocal":"2026-07-15T08:29:00.0","sleepStartTimestampGMT":"2026-07-15T05:45:39.0","sleepEndTimestampGMT":"2026-07-15T12:41:39.0","sleepStartTimestampLocal":"2026-07-14T22:45:39.0","sleepEndTimestampLocal":"2026-07-15T05:41:39.0","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"lowestRespirationValue":7.0,"highestRespirationValue":20.0,"avgWakingRespirationValue":13.0,"avgSleepRespirationValue":13.0,"avgTomorrowSleepRespirationValue":null,"respirationValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"respiration"}],"respirationValuesArray":[[1784098920000,14.0],[1784099040000,11.0],[1784099160000,14.0],[1784099280000,13.0],[1784099400000,14.0],[1784099520000,13.0],[1784099640000,13.0],[1784099760000,15.0],[1784099880000,14.0],[1784100000000,12.0],[1784100120000,11.0],[1784100240000,12.0],[1784100360000,12.0],[1784100480000,13.0],[1784100600000,13.0],[1784100720000,15.0],[1784100840000,14.0],[1784100960000,13.0],[1784101080000,14.0],[1784101200000,14.0],[1784101320000,13.0],[1784101440000,14.0],[1784101560000,14.0],[1784101680000,1[...]
    - id: 2
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/im/2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-07-15","startTimestampGMT":"2026-07-15T07:00:00.0","endTimestampGMT":"2026-07-15T15:29:00.0","startTimestampLocal":"2026-07-15T00:00:00.0","endTimestampLocal":"2026-07-15T08:29:00.0","weeklyModerate":54,"weeklyVigorous":64,"weeklyTotal":182,"weekGoal":150,"dayOfGoalMet":"Tue","startDayMinutes":182,"endDayMinutes":182,"moderateMinutes":0,"vigorousMinutes":0,"imValueDescriptorsDTOList":null,"imValuesArray":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.4024ms
