---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - '[REDACTED]'
            X-App-Ver:
                - "10861"
            X-Garmin-Client-Platform:
                - Android
            X-Garmin-Paired-App-Version:
                - "10861"
            X-Garmin-User-Agent:
                - com.garmin.android.apps.connectmobile/5.23; ; Google/sdk_gphone64_arm64/google; Android/33; Dalvik/2.1.0
            X-Gcexperience:
                - GC5
            X-Lang:
                - en
        url: https://connectapi.garmin.com/wellness-service/wellness/bodyBattery/events/2026-07-15
        method: GET
      response:
        body: '[{"event":{"eventType":"RECOVERY","eventStartTimeGmt":"2026-07-15T09:13:19.0","timezoneOffset":-25200000,"durationInMilliseconds":2940000,"bodyBatteryImpact":7,"feedbackType":"RECOVERY_BODY_BATTERY_INCREASE","shortFeedback":"BODY_BATTERY_RECHARGE"},"activityName":null,"activityType":null,"activityId":null,"averageStress":17.277779,"stressValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"stressLevel"}],"stressValuesArray":[[1784106720000,18],[1784106900000,18],[1784107080000,21],[1784107260000,23],[1784107440000,15],[1784107620000,16],[1784107800000,18],[1784107980000,17],[1784108160000,15],[1784108340000,15],[1784108520000,16],[1784108700000,17],[1784108880000,14],[1784109060000,18],[1784109240000,14],[1784109420000,15],[1784109600000,16],[1784109780000,25]],"bodyBatteryValueDescriptorsDTOList":[{"bodyBatteryValueDescriptorIndex":0,"bodyBatteryValueDescriptorKey":"timestamp"},{"bodyBatteryValueDescriptorIndex":1,"bodyBatteryValueDescriptorKey":"bodyBatteryStatus"},{"bodyBatteryValueDescriptorIndex":2,"bodyBatteryValueDescriptorKey":"bodyBatteryLevel"},{"bodyBatteryValueDescriptorIndex":3,"bodyBatteryValueDescriptorKey":"bodyBatteryVersion"}],"bodyBatteryValuesArray":[[1784106720000,"ADJUSTED",41,3.0],[1784106900000,"ADJUSTED",41,3.0],[1784107080000,"ADJUSTED",41,3.0],[1784107260000,"ADJUSTED",41,3.0],[1784107440000,"ADJUSTED",42,3.0],[1784107620000,"ADJUSTED",42,3.0],[1784107800000,"ADJUSTED",43,3.0],[1784107980000,"ADJUSTED",44,3.0],[1784108160000,"ADJUSTED",44,3.0],[1784108340000,"ADJUSTED",44,3.0],[1784108520000,"ADJUSTED",45,3.0],[1784108700000,"ADJUSTED",45,3.0],[1784108880000,"ADJUSTED",45,3.0],[1784109060000,"ADJUSTED",46,3.0],[1784109240000,"ADJUSTED",46,3.0],[1784109420000,"ADJUSTED",47,3.0],[1784109600000,"ADJUSTED",47,3.0],[1784109780000,"ADJUSTED",48,3.0]]}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.1566ms
