---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            date:
                - "2026-07-15"
        headers:
            Authorization:
                - '[REDACTED]'
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/?date=2026-07-15
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-07-15","startTimestampGMT":"2026-07-15T07:00:00.0","endTimestampGMT":"2026-07-15T15:29:00.0","startTimestampLocal":"2026-07-15T00:00:00.0","endTimestampLocal":"2026-07-16T00:00:00.0","maxHeartRate":83,"minHeartRate":52,"restingHeartRate":53,"lastSevenDaysAvgRestingHeartRate":51,"heartRateValueDescriptors":[{"index":0,"key":"timestamp"},{"index":1,"key":"heartrate"}],"heartRateValues":[[1784098800000,83],[1784098920000,69],[1784099040000,62],[1784099160000,62],[1784099280000,58],[1784099400000,59],[1784099520000,63],[1784099640000,65],[1784099760000,60],[1784099880000,59],[1784100000000,60],[1784100120000,58],[1784100240000,59],[1784100360000,57],[1784100480000,58],[1784100600000,58],[1784100720000,58],[1784100840000,59],[1784100960000,58],[1784101080000,58],[1784101200000,58],[1784101320000,58],[1784101440000,57],[1784101560000,57],[1784101680000,57],[1784101800000,57],[1784[...]
